.banner{
    background-image: url("../img/banner.jpg");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
}

.banner::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.menucolor{
    background-color: rgb(0, 45, 0);
}

.banner2{
    background-image: url("../img/ftt.jpg");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;

}

.tarjeta{
    display: flex;
}